<div class="main-content">
  <!--left-fixed -navigation-->
  <div class="sidebar" role="navigation">
          <div class="navbar-collapse">
      <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <ul class="nav" id="side-menu">
          <li>
            <a routerLink="/home"><i class="fa fa-table nav_icon"></i>User Table </a>
        
            <!-- /nav-second-level -->
          </li>
          <li>
            <a routerLink="/expenses"><i class="fa fa-table nav_icon"></i>Expense Table</a>
         
            <!-- /nav-second-level -->
          </li>
          <li>
            <a ><i class="fa fa-table nav_icon"></i>Category Table</a>
          </li>
          <li>
            <a ><i class="fa fa-table nav_icon"></i>SubCategory Table</a>
            <!-- //nav-second-level -->
          </li>
          <li>
            <a routerLink="/notes"><i class="fa fa-table nav_icon"></i>Notes Table </a>
          </li>
          <li>
            <a routerLink="/reminders"><i class="fa fa-table nav_icon"></i>Reminder Table</a>
            <!-- //nav-second-level -->
          </li>
          <li>
            <a ><i class="fa fa-envelope nav_icon"></i> Mail </a>
            <!-- //nav-second-level -->
          </li>
          
        </ul>
        <!-- //sidebar-collapse -->
      </nav>
    </div>
  </div>
  </div>
  <div class="sticky-header header-section "  style="background-color:#4F52BA;color:white">
    <div class="header-left">
      <!--toggle button start-->
      
      <!--toggle button end-->
      <!--logo -->
      <div class="logo">
        <a href="index.html">
          <h1> Expense Tracker </h1>
          <span>AdminPanel</span>
        </a>
      </div>
      <!--//logo-->
      <!--search-box-->
      
      <div class="clearfix"> </div>
    </div>
    <div class="header-right">
      <div class="profile_details_left"><!--notifications of menu start -->
      
        <div class="clearfix"> </div>
      </div>
      <!--notification menu end -->
      <div class="profile_details">		
        <ul>
          <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <div class="profile_img">	
                <span class="prfil-img"><img src="images/a.png" alt=""> </span> 
                <div class="user-name">
                  <p style="color:#fff;">Wikolia</p>
                  <span style="color:#fff;">Administrator</span>
                </div>
                <i class="fa fa-angle-down lnr"></i>
                <i class="fa fa-angle-up lnr"></i>
                <div class="clearfix"></div>	
              </div>	
            </a>
            <ul class="dropdown-menu drp-mnu">
              <li> <a ><i class="fa fa-cog"></i> Settings</a> </li> 
              <li> <a ><i class="fa fa-user"></i> Profile</a> </li> 
              <li> <a ><i class="fa fa-sign-out"></i> Logout</a> </li>
            </ul>
          </li>
        </ul>
      </div>
     
    </div>
   
  </div>
