<!-- <div id="page-wrapper">
    <div class="main-page login-page ">
        <h3 class="title1">SignIn Page</h3>
        <div class="widget-shadow">
            <div class="login-top">
                <h4>Welcome back to ExpenseTracker AdminPanel ! </h4>
            </div>
            <div class="login-body">
                <form>
                    <input type="text" class="user" name="email" placeholder="Enter your email" required="" [(ngModel)]="email">
                    <input type="password" name="password" class="lock" placeholder="password" [(ngModel)]="pass">
                    <input type="submit" name="Sign In" value="Sign In" (click)="onlogin()">
                    <div class="forgot-grid">

                        <div class="forgot">
                            <a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="color">forgot password?</a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-header" align="left">
                                        <h1 class="modal-title" id="exampleModalLabel">Forgot password</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="modal-body">
                                        <form #addform1="ngForm">
                                            <div class="form-group" align="left">
                                                <label for="recipient-name" class="col-form-label" style="color:white;font-size:20px;">Type your email id:</label>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput ngModel required email name="inpemail" type="email" style="font-size:20px;" [(ngModel)]="fgemail" #inpemail="ngModel">
                                                    <mat-error *ngIf="inpemail.hasError('required')" style="font-size:20px;">enter email id</mat-error>
                                                    <mat-error *ngIf="inpemail.hasError('email')" style="font-size:20px;">enter valid email id</mat-error>

                                                </mat-form-field>

                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" (click)="onsubmit()" [disabled]="!addform1.form.valid">Submit</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="login-page-bottom">
        </div>
    </div>
</div> -->


<div style="background-image:url(./assets/images/img1.jpg); height:700px; " >
    <div id="page-wrapper">
        <div class="main-page login-page">
               
    
    <div class="box">
           
             
            <div class="login-top">
                    <h3 class="title1">SignIn Page</h3>
                    <h4>Welcome back to ExpenseTracker AdminPanel ! </h4>
                </div>
        
         <form action="" method="post" (ngSubmit)="taskSubmit()" #addform="ngForm">
          <div class="group">      
                <mat-form-field   class="example-full-width" >
                                    <input
                                    matInput
                                    ngModel
                                    required
                                    email
                                    name="emailid"
                                     type="email"
                                     placeholder="Email Id"
                                     [(ngModel)]="email"
                                     #emailid="ngModel" >
                                     <mat-error *ngIf="emailid.hasError('required')" >Email Is Required</mat-error>
                                     <mat-error *ngIf="emailid.hasError('email')" >Enter Valid Email</mat-error>
                                
                                  </mat-form-field>
                            
          </div>
              <div class="group">  
     <mat-form-field hintLabel="password should be atleast 6 char" class="example-full-width">
                                    <input
                                    matInput
                                    ngModel
                                    required
                                    minlength="6"
                                    name="inpPass"
                                     type="password"
                                     placeholder="Password"
                                     [(ngModel)]="pass"
                                     #inpPass="ngModel">
                                     <mat-error *ngIf="inpPass.hasError('required')"  >Password Is Required </mat-error>
                                     <mat-error *ngIf="!inpPass.hasError('required')" >Password atleast 6 character</mat-error>
                                    <mat-hint align="end"> {{inpPass.value?.length}}/6 </mat-hint>
                                  </mat-form-field>
                                           
                    </div>
          <button id="buttonlogintoregister" type="submit" [disabled]="!addform.form.valid" (click)=" onlogin()">Login</button>
        </form>
        </div>
        </div>
    </div>
    </div>