#rightContent {
    float: right;
    width: 80%;
    
   }
  
  .logo
  {
      width:40%;
  }
  .example-container {
      display: flex !important;
      flex-direction: column !important;
      min-width: 300px !important;
      
    }
    
    .example-header {
      min-height: 64px !important;
      padding: 8px 24px 0 !important;
    }
    
    .mat-form-field {
      font-size: 14px !important;
      width: 100% !important;
    }
    
    .mat-table {
      overflow: auto !important;
      max-height: 500px !important;
    }
    
    .imgg
    {
      height:50px;
      width:50px;
    }
  
    
    