<div id="page-wrapper">
    <div class="main-page signup-page">
        <h3 class="title1">SignUp Here</h3>
        <p class="creating">Having hands on experience in creating innovative designs,I do offer design solutions which harness.</p>
        <div class="sign-up-row widget-shadow">

            <div class="sign-u">
                <div class="sign-up1">
                    <h4>Email Address* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="text" name="umail" [(ngModel)]="umail" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <div class="sign-up1">
                    <h4>Name* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="text" name="uname" [(ngModel)]="uname" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <div class="sign-up1">
                    <h4>Mobile No* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="text" name="umobno" [(ngModel)]="umobno" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <div class="sign-up1">
                    <h4>Choose Image* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="file" (change)="onFileSelected($event)" [(ngModel)]="uimg" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="sign-u">
                <div class="sign-up1">
                    <h4>Password* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="password" name="upass" [(ngModel)]="upass" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <div class="sign-up1">
                    <h4>E-document Password* :</h4>
                </div>
                <div class="sign-up2">
                    <form>
                        <input type="password" name="udpass" [(ngModel)]="udpass" required>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="sub_home" align="center">
                <form>
                    <input type="submit" value="Sign Up" (click)="onSignUp()">
                </form>
                <div class="clearfix"> </div>
            </div><br>
            <h3 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR</h3>
            <!-- <label><h2><center>Alredy Registered???</center></h2></label> -->
            <div class="sub_home" align="center">
                <form>
                    <input type="submit" value="Sign In" (click)="onSignIn()">
                </form>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>