<app-navbar></app-navbar>
<div id="page-wrapper">
    <div>
        <div class="clearfix">
        </div>
        <div id="rightContent">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
            <div align="center">
                <h1 class="page-header"><i class="fa fa-user"></i> Expense Table
                </h1>
            </div><br>

            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef=" ">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <input type="checkbox" (change)="checkChange(element)"> </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fk_user_email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mail ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fk_user_email}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="expense_date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.expense_date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="expense_amt">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.expense_amt}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="sub_cat_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Category Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.sub_cat_name}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element"><button mat-icon-button  (click)="onExpDelete(element)">
                                      <mat-icon >delete</mat-icon>
                                    </button> </mat-cell>


                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div><br><br>
            <div align="center">
              
                <button mat-raised-button color="warn" (click)="deleteAll()"><i class="fa fa-remove"> </i> Delete Selected</button>
                <button mat-raised-button color="primary" onClick="window.print()"><i class="fa fa-print"> </i> Print Data</button>

            </div>
        </div>

    </div>
</div>